<app-alphabet class="" (newChar)="selectChar($event)" [initChar]="artistS.betweenChars[0] || 'All'"></app-alphabet>
<div class="genere-artists debugx">

  <div class="filter-bar">
    <div class="list-stats">Founded: {{artistsList?.length}} artists</div>

    <div class="active-filters">
      <md-chip-list class="">
      <md-chip
        *ngFor="let tag of tagS.activeTags"
        (click)="removeTag(tag)"
        selected="true">
        {{tag.name}} X
      </md-chip>
    </md-chip-list>
    </div>

    <button md-button (click)="showTags = !showTags">
      <md-icon [ngClass]="{'open': showTags}">filter_list</md-icon>
    </button>
  </div>

  <app-tags *ngIf="showTags" (onTagsChange)="onTagsChange($event)"></app-tags>

  <app-artists-list
      *ngIf="true || !showTags"
      [list]="artistsList"
      (onDelete)="confirmDeleteArtist($event)"></app-artists-list>
</div>
