<div>
  {{fetchMessage}}
</div>

<md-progress-bar
    *ngIf="inFetching"
    [mode]="'determinate'"
    [value]="fetchProgress">
</md-progress-bar>

<div *ngIf="!showGoToArtistButton">
  <button type="button" md-raised-button (click)="startImport()">
    Import from spotify
  </button>
</div>

<button type="button" md-raised-button (click)="importFromJson()">
  Import from json
</button>

<div *ngIf="showGoToArtistButton">
  <button type="button" md-raised-button [routerLink]="['/artists']">
    Go to Artists
  </button>
</div>


<br><br><br>
<button type="button" md-raised-button (click)="exportDb()">
  Export DB
</button>
<br>
Import
<input type="file" (change)="importDb($event)">

<br><br><br>
<button type="button" md-raised-button (click)="deleteDb()">
  Delete DB
</button>