:host {
  width: 30px;
  min-width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border-right: solid 2px #CCC;
}

.selected {
  background-color: #ffd740;
}