<form (ngSubmit)="searchArtist(artistForm)" #artistForm="ngForm">
  <md-input-container>
    <input class="form-control" id="artistName" [(ngModel)]="artistName" name="artistName" mdInput placeholder="Artist">
  </md-input-container>
  <button type="submit" md-raised-button>Search</button>
  <div class="spinner">
    <md-progress-spinner *ngIf="spotifyFetching" mode="indeterminate" [strokeWidth]="5"></md-progress-spinner>
  </div>
</form>

<div *ngIf="newArtists.length">
  <div class="next-prev-artist">
    <button md-button (click)="artistIndex = artistIndex - 1" [disabled]="artistIndex === 0">
      <md-icon class="example-icon">keyboard_arrow_left</md-icon>
    </button>
    <div>Found {{newArtists.length}} artists {{artistIndex + 1}}/{{newArtists.length}}</div>
    <button md-button (click)="artistIndex = artistIndex + 1" [disabled]="artistIndex === newArtists.length - 1">
      <md-icon class="example-icon">keyboard_arrow_right</md-icon>
    </button>
  </div>

  <md-card *ngIf="newArtists[artistIndex].name" class="example-card">
    <md-card-header>
      <img [src]="newArtists[artistIndex].spotifyImg" alt="{{newArtists[artistIndex].name}}">
      <h2>{{newArtists[artistIndex].name}}</h2>
    </md-card-header>

    <md-card-content>
      {{showAddCustomTag}}//
      <md-chip-list class="">
        <md-chip *ngFor="let tag of newArtists[artistIndex].tags"
            [selected]="tag.selected"
            [color]="'accent'"
            (click)="tag.selected = !tag.selected">
          {{tag.name}}
        </md-chip>
        <md-input-container *ngIf="showAddCustomTag" class="custom-tag-input">
          <input class="form-control"
                id="customTag" [(ngModel)]="customTag"
                name="customTag" mdInput placeholder="Add tag">
        </md-input-container>
        <md-chip
            class="custom-tag">
          <md-icon class="example-icon" (click)="showAddCustomTag = true" *ngIf="!showAddCustomTag">add</md-icon>
          <md-icon class="example-icon" (click)="addCustomTag()" *ngIf="showAddCustomTag">save</md-icon>
        </md-chip>
      </md-chip-list>
    </md-card-content>

    <md-card-actions>
      <button md-button (click)="saveArtist()">Save</button>
    </md-card-actions>
  </md-card>
</div>