// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  // font-family: 'Reenie Beanie', cursive !important;
  // font-size: 18px;
}